.navegacion {
  background-color: antiquewhite;
  font-weight: bold;
}
.navegacion li {
  background-color: #e7d4bb;
  display: inline;
  padding: 10px;
}
.box-model {
  background-color: rgb(190, 241, 241);
  width: 250px;
  height:150px;
  padding: 10px 40px 30px 10px;
  margin: 10px 40px;
  border: solid 5px rgb(243, 187, 187);
  border-radius: 5px;
  overflow: scroll;
}
